body {
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
    background-color: #dfe4ea;
    margin-top: 50px;
    margin-left: 50px;
    width: 530px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
}

.name {
    font-size: 20px;
    color: #487eb0;
    padding-top: 60px;
    margin-left: 60px;
}

input {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 25px 25px 0px 0px;
    border-radius: 10px;
    background-color: #f5f6fa;
    border: none;
    outline: none;
}

input:hover {
    background-color: white;
}

div {
    display:flex;
    justify-content: flex-start;
    margin-left: 60px;
}

.result {
    display: flex;
    align-items: baseline;

}

.addButton {
    margin-left: 70px;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: #487eb0;
    color: white;
    border: none;
    outline: none;
}

::placeholder {
    color: #487eb0;
}



